#title{
    text-align: center;
    font-size: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}


#title_won{
    text-align: center;
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    z-index: 3 ;
}

#title_sub{
    text-align: center;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    z-index: 3 ;
    
    
}

.canvas{
    z-index: 2;
    position: absolute;
    width: fit-content;
    max-width: 35%;
    height: auto;
    min-height: 250px;
    border: 5px solid white;
    border-radius: 10px;
    background-color: pink;
    opacity: 0.8;
    left: 50%;
    transform: translateX(-50%);
    
}

.wrapper{
    
    padding-top: 10%;
}

#canvas{
   
    position: absolute;
    width: fit-content;
    max-width: 35%;
    height: auto;
    min-height: 250px;
    border: 5px solid white;
    border-radius: 10px;
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    animation: colorChange 5s infinite alternate;
    opacity: 0.8;
    left: 50%;
    transform: translateX(-50%);
}

@keyframes colorChange {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 0%;
    }
}

.label{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}